.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.card{
  box-shadow: 0 0 10px gray;
  width: 33.33%;
 
  margin: 10px;


}

.row{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}


.card-col{
  width: 30%;
  box-shadow: 20px 20px 15px rgb(124 46 95) inset;;
  margin: auto;
  border: 5px solid rgb(124 46 95) ;
  border-radius: 15px 50px;
  background-color: rgb(198 173 197);
  
}

.card-img{
  padding-left: 40px;
padding-top: 20px;
}

.card-img img{
  width: 90%;

}

h5{
  padding-left: 50px;
  line-height: 3;
  opacity: 0.7;
  padding-top: 10px;
}

.pagebtn{
  padding: 8px 15px;
  margin: 5px;
  background-color: azure;
  border: 1px solid grey;
}

.pagebtn:active{
  background-color: rgb(102, 151, 182);
}

.text{
  text-align: center;
}
.pagebtnn{
margin-left: 45%;

}

.carousal-container{
  width: 70%;

  margin: auto;
}


